<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="זיהוי ספרות">
    <meta name="author" content="BVLC (http://bvlc.eecs.berkeley.edu/)">

    <title>Caffe Demos</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>

    <style>
    body {
      font-family: "Alef", sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Alef, sans-serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }
    </style>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container" dir="rtl">

      <div>
        <h2>הדגמת רשת נוירונים לזיהוי ספרות</h2>
        <a href="/classify_url?imageurl=https:%2F%2Fwww.classes.cs.uchicago.edu%2Farchive%2F2013%2Fspring%2F12300-1%2Fpa%2Fpa1%2Fdigit.png">
            דוגמא
        </a>
      </div>

      {% if has_result %}
      {% if not result[0] %}
      <!-- we have error in the result. -->
      <div class="alert alert-danger">{{ result[1] }} שגיאה בזיהוי התמונה </div>
      {% else %}
      <div class="media">
        <a class="pull-left" href="#">
            התמונה המקורית:
            <img class="media-object" width="192" height="192" src={{ imagesrc }}>
        </a>
        <div class="media-body">
            <h1 class="text-center" style="font-size: 100px">
              הספרה: <strong>{{ result[1][0][0] }}</strong>
            </h1>
            <ul class="list-group" style="width: 200px">
              {% for single_pred in result[1] %}
              <li class="list-group-item">
              <span class="badge">{{ single_pred[1] }}</span>
              <h4 class="list-group-item-heading text-left">
                <strong>{{ single_pred[0] }}</strong>
              </h4>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
      <p> הזמן שלקח לזיהוי: {{ result[2] }} שניות. </p>
      {% endif %}
      <hr>
      {% endif %}

      <form role="form" action="classify_url" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="כתובת התמונה">
            <span class="input-group-btn">
              <input class="btn btn-primary" value="זהה תמונה לפי כתובת" type="submit" id="classifyurl"></input>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>

      <form id="formupload" class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">העלה תמונה:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
        <!--<input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>-->
      </form>
    </div>

    <hr>
 </body>
</html>
