<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="זיהוי ספרות">

    <title>הדגמת רשת נוירונים לזיהוי ספרות</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='qrcode.min.js') }}"></script>

    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>

  </head>

  <body>
    <!-- Begin page content -->
    <div class="container" dir="rtl">
      <div>
        <h2>הדגמת רשת נוירונים לזיהוי ספרות</h2>
      </div>

      {% if has_result and not result[0] %}
      <!-- we have error in the result. -->
      <div class="alert alert-danger"><p>שגיאה בזיהוי התמונה</p><p dir="ltr">{{ result[1] }}</p></div>
      {% endif %}
      <div class="media row">
				<div class="col-md-3">
					<div id="qrcode"></div>
					<script type="text/javascript">
					var node = document.getElementById("qrcode");
					try {
						new QRCode(node, "{{ request.url }}");
					} catch(err) {
						while (node.hasChildNodes()) { node.removeChild(node.lastChild); }
						new QRCode(node, "{{ request.url_root }}");
					}
					</script>
				</div>

        <div class="col-md-3">
					<div style="border: 1px solid; width: 200px; text-align: center;">
						<a href="/classify_url?imageurl=https:%2F%2Fwww.classes.cs.uchicago.edu%2Farchive%2F2013%2Fspring%2F12300-1%2Fpa%2Fpa1%2Fdigit.png">
								[דוגמא]
						</a>

						<form action="draw" style="padding: 5px;">
							<input class="btn btn-primary" value="צייר תמונה" type="submit" id="draw" style="width: 100%;"></input>
						</form>

						<form style="width: 192px" role="form" action="classify_url" method="get">
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="כתובת התמונה">
									<span class="input-group-btn">
										<input class="btn btn-default" value="זהה" type="submit" id="classifyurl"></input>
									</span>
								</div><!-- /input-group -->
							</div>
						</form>

						<form id="formupload" class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<input type="file" name="imagefile" id="imagefile">
							</div>
						</form>
				</div>

				{% if has_result and result[0] %}
						התמונה המקורית:
						<img class="media-object" width="192" height="192" style="border:1px solid black" src={{ imagesrc }}>
				</div>
        <div class="col-md-6 media-body">
            <h1 class="text-center" style="font-size: 100px">
              הספרה: <strong style="font-size: 130px">{{ result[1][0][0] }}</strong>
            </h1>
            <ul class="list-group" style="width: 200px">
              {% for single_pred in result[1] %}
              <li class="list-group-item">
              <span class="badge">{{ single_pred[1] }}</span>
              <h4 class="list-group-item-heading text-left">
                <strong>{{ single_pred[0] }}</strong>
              </h4>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
      <p> הזמן שלקח לזיהוי: {{ result[2] }} שניות. </p>

      <div class="center">
      {% for plot in result[3] %}
          <div>{{ plot[1]|safe }}</div>
      {% endfor %}
      </div>
      {% endif %}
    </div>

 </body>
</html>
