body {
	font-family: "Alef", sans-serif;
	line-height:1.5em;
	color: #232323;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	font-family: Alef, sans-serif;
	line-height:1.5em;
	border-bottom: 1px solid #ccc;
}

.canvas {
	width: 405px;
	height: 405px;
	border: 2px solid;
}
